{% extends 'base2.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <header>
        <div class="container-fluid">
            <div class="row">
                <div  class="col-md-6">
                    <div class="logininput">
                        <form action="" method="POST">
                            <img class="autopart-logo" src="{% static './img/Artboard 6 copy@2x.png' %}" alt="">
                            <h1 class="login-center-text">Qeydiyyatdan Keç</h1>
                            <p class="welcome-back-text">Xoş Gəlmisiniz!</p>
                            {% csrf_token %}
                            {{form.non_field_error}}
                            <div class="full-name">
                                <label for=""><b>Ad</b></label><br>
                                {{form.username}}
                                {{form.username.errors}}
                            </div>
                            <div  class="email">
                                <label for=""><b>Email / Nömrə</b></label><br>
                                {{form.email}}
                                {{form.email.errors}}
                            </div>
                            <div class="email">
                                <label for=""><b>Şifrə </b></label><br>
                                {{form.password1}}
                                {{form.password1.errors}}
                            </div>
                            <div class="email">
                                <label for=""><b>Şifrə </b></label><br>
                                {{form.password2}}
                                {{form.password2.errors}}
                            </div>
                            <div class="remember-me-or-forget-password">
                                <div class="remember-me">
                                    <input type="checkbox">
                                    <p>Remember me</p>
                                </div>
                                <a href="#">Forgot password?</a>
                            </div>
                            <div>
                                <input type="submit" class="  login-button register"  value="Register">
                            </div>
                            <p style="text-align: center;" class="register-click">or <a href="{% url 'accounts:login' %}">Login</a></p>
                        </form>
                    </div>
                </div>

                <div id="loginSliderContainer" class="col-md-6">
                    <div class="slider-container">
                        <div class="slider">
                            <div class="slide slide1">
                                <img class="slide-img about-autopart" src="{% static './img/[removal.ai]_d2257089-9ec1-41bd-b066-d3e25f9bc0df-screenshot-35.png' %}" alt="">
                                <h4>AutoPart Nədir?</h4>
                                <p>Biz autopart olaraq sürücülərin rahat və tez yolnan lazımi ehtiyat hissəsini tapıb,
                                    müxtəlif satıcılardan təkliflər alıb ən uyqunun seçməsi, satıcıların isə əlavə
                                    online müştəri bazası qazanması üçün servis təklif edirik.</p>
                            </div>
                            <div class="slide slide2">
                                <img class="slide-img"  src="{% static './img/[removal.ai]_e33a9157-0dad-4698-8ec0-b126193dfa33-screenshot-37.png ' %}" alt="">
                                <h4>AutoPart-da satıcı olmağın faydaları:</h4>
                                <p>Pulsuz mağaza yaradmaq imkanı
                                    Limitsiz təkliflər göndərmək imkanı
                                    Onlayn müştəri bazası qazan.</p>
                            </div>
                            <div class="slide slide3">
                                <img class="slide-img"  src="{% static './img/[removal.ai]_671459a6-2d19-489c-a404-18356b1854ca-screenshot-39.png' %}" alt="">
                                <h4>AutoPart-da alıcı olmağın faydaları:</h4>
                                <p>Artıq mağazaları gəzməyə ehtiyac yoxdur
                                    Ən uyğun razılaşma ilə lazım olan hissəni tapın
                                    Böyük çeşid sayı,fərqli satıcılardan hamısı bir platformada.</p>
                            </div>
                        </div>
                        <div class="controls">
                            <button class="slide-button" data-slide-index="1"></button>
                            <button class="slide-button" data-slide-index="2"></button>
                            <button class="slide-button" data-slide-index="3"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
{% endblock %}